{% extends 'retail/base_retail.html' %}

{% block title %}
    Удаление - {{ block.super }}
{% endblock %}

{% block content %}

    <form action="{{ item.get_delete_url }}" method="post">
        {% csrf_token %}

        <h3>Уверены, что хотите удалить <b>"{{ item.title|title }}"</b> ?</h3>
        <a href="{% url 'items_list_url' %}"><button type="button" class="btn btn-light">Отмена</button></a>
        <button type="submit" name="button" class="btn btn-danger">Удалить</button>

    </form>

{% endblock %}