{% extends 'retail/base_retail.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-1-3">
                    <b>Document</b>
                    <p></p>
                    {% for order in orders %}
                    <p><a href="{{ order.get_view_url }}">Order {{ order.id }}</a></p>
                    {% endfor %}
                </div>
                <div class="col-2-3">
                    <b>Content</b>
                    <p></p>
                    <table class="table">
                        <tr>
                            <th>Item</th>
                            <th>Count</th>
                            <th>Price</th>
                        </tr>
                        {% for row in order_table %}
                        <tr>
                            <td>{{ row.item.title }}</td>
                            <td>{{ row.count }}</td>
                            <td>{{ row.price }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}